.video-block {
padding-top: 4em;
}

#video-container{
  padding: 1em;
}

#screenshare-container {
  padding: 1em;
}

/* .screenshare{
  width: --webkit-fill-available; 
} */

.flipped-video {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

.card {
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 0.6), rgba(37, 117, 252, 0.6));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 0.6), rgba(37, 117, 252, 0.6));
  
  border: 0px;
  border-radius: 20px;
  
}

.video-card-body {
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203,  0.6), rgba(37, 117, 252,  0.6));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203,  0.6), rgba(37, 117, 252,  0.6));

  border: 0px;
  border-radius: 20px;
}

.video-card-body-isspeaking {
  background-color: #1880c1;
  border: 0px;
  border-radius: 20px;
}

/* SVG ICONs */

.mic{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-mic-fill' viewBox='0 0 16 16'%3E%3Cpath d='M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z'/%3E%3Cpath d='M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z'/%3E%3C/svg%3E");
}

.mic-mute{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-mic-mute-fill' viewBox='0 0 16 16'%3E%3Cpath d='M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4.02 4.02 0 0 0 12 8V7a.5.5 0 0 1 1 0v1zm-5 4c.818 0 1.578-.245 2.212-.667l.718.719a4.973 4.973 0 0 1-2.43.923V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 1 0v1a4 4 0 0 0 4 4zm3-9v4.879L5.158 2.037A3.001 3.001 0 0 1 11 3z'/%3E%3Cpath d='M9.486 10.607 5 6.12V8a3 3 0 0 0 4.486 2.607zm-7.84-9.253 12 12 .708-.708-12-12-.708.708z'/%3E%3C/svg%3E");
}


.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #6429CC, #3236CB);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #6429CC, #3236CB)
}

.gradient-custom-reverse {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, #6429CC, #3236CB);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, #6429CC, #3236CB)
}

.gradient-custom-bg {
  /* fallback for old browsers */
  background:  #252998;

  /* Chrome 10-25, Safari 5.1-6 */
  background-image: url('../../assets/img/dolby-io-discovery-days-illustration.png');
  background: -webkit-linear-gradient(to left, #252998, rgba(37, 117, 252, 0.8));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url('../../assets/img/dolby-io-discovery-days-illustration.png');
  background: linear-gradient(to left, #252998, rgba(37, 117, 252, 0.8), url('../../assets/img/dolby-io-discovery-days-illustration.png'));
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 100px;
}

/* Snackbar CSS borrowed from https://www.w3schools.com/howto/howto_js_snackbar.asp */

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 800px; /* Set a default minimum width */
  margin-left: -400px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 70px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 1s, fadeout 1s 5s;
  animation: fadein 1s, fadeout 1s 5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 70px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 70px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 70px; opacity: 1;}
  to {bottom: 30; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 70px; opacity: 1;}
  to {bottom: 30; opacity: 0;}
}
